.header-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  height: 150px;
  width: 100%;
  border-color: beige;
  background-color: aliceblue;
  border-width: 5px;
}
@media screen and (max-width: 767px) {
  .header-container {
    display: flex;
    height: 3%;
    justify-content: space-around;
  }
}

@media screen and (max-width: 767px) {
  .name {
    font-size: 24px;
  }
}
.my-orders {
  color: black;
  font-size: 25px;
  font-weight: 500;
  margin-right: 20px;
}

@media screen and (max-width: 767px) {
  .my-orders {
    font-size: 14px;
    margin-right: 14px;
  }
}

.length {
  background-color: brown;
  color: white;
  font-size: 25px;
  margin-left: 5px;
  border-radius: 25px;
}

@media screen and (max-width: 767px) {
  .length {
    font-size: 22px;
  }
}

.logout-button {
  height: 35px;
  width: 80px;
  background-color: red;
  color: white;
  font-size: 15px;
  border-radius: 5px;
  border-width: 0px;
}
